* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lexend', sans-serif;
}

#page-title{
    display: flex;
    justify-content: center;
    background-color: #ff0000;
    color: #fff;
    font-weight: 800;
    font-size: 70px;
    padding: 2rem;
}

